.conversion-container {
    width: 80vw;
    display: flex;
    flex-flow: row wrap;
}


.conversion-container input, select {
    padding: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.field-container {
    flex-grow: 1;
    flex-basis: 0;
}

.field-container:not(:first-child) {
    margin-left: 10px;
}

.convert-button-container {
    margin-top: 10px;
    flex-basis: 100%;
    text-align: center;
}

.convert-button {
    padding: 10px 15px;
    font-size: 1.1em;
    background-color: #67baf5;
    color: #fff;
    border: 1px solid;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.convert-button:hover {
    background-color: #5ba4d8;
}

.conversion-result-container {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px;
    font-weight: 700;
    font-size: 1.5em;
}
