.App {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: 
    'header header header'
    '. content .';
}

nav {
  grid-area: header;
  display: flex;
  justify-content: flex-end;
  background: #333;
  box-shadow: 0px 2px 5px #999;
  color: #fff;
}

nav .title {
  padding: 15px;
  margin-right: auto;
}

nav a {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

nav a:hover {
  background: #555;
}

nav a.selected {
  background: #555;
  transition: background 0.4s;

}

.main-container {
  grid-area: content;
}